<!DOCTYPE html>
<html>
<head>
	<title>Daily Quranic Verses - A verse a day from Quran</title>
	<meta name="description" content="Get a daily verse from glorious Quran in your inbox. Read at least a verse from Quran.">
	<meta name="keywords" content="Quran,Daily,Verse,
	Islam,Muslim,Sunnah,Ayah,Quranic,Islamic,Quran,Muslims, Quran in English">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/scrolling.css">

</head>
<body>
	