<%- include('header') -%>
<div class="container-fluid">
		<div id="root"></div>
	</div>
	<div id="root">
	</div>
<%- include('footer') -%>
	<script src="/app/bundle.js"></script>
	<script src="/js/jquery.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src="/js/popper.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src="/js/bootstrap.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src="/js/scrolling.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src="/js/easing.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>